.nav-first{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    .links-left a{
        padding-right: 1rem;
        transition: .3s all ease-in-out;
        &:hover {
            color: $color-yellow;
        }
    }
}

.nav-second{
    display: flex;
    justify-content: space-between;
    background:rgba(255, 255, 255, 0.3);
    align-items: center;
    padding: 1rem;
    a{
        text-transform: uppercase;
        font-size: .8rem;
        margin-left: 1rem;
        transition: .3s all ease-in-out;
        &:hover {
            color: $color-yellow;
        }
    }
}
.menu-nav{
    order: 3
}

.window-coucou{
    position: fixed;
    padding: 2rem;
    width: 30%;
    left: 0;
    top: 0;
    z-index: 13;
    height: 100vh;
    line-height: 2.3rem;
    background:black;
    color: white;
    padding-top: 5%;
    transform: translateX(-100%);
    transition: .3s all ease-in-out;
    &.active{
        transform: translateX(0);
    }
}
//////BURRGEEEEEERRRRRRRRRAAAAAHHHHH////
@media screen and (max-width:990px){
    .window-coucou{
        width: 50%;
    }
    .menu-nav{
        display: none;
    }
    .menu-nav-coucou{
        display: flex;
        flex-direction: column;
        a:hover{
            color: $color-yellow;
        }
    }
    .burger-menu {
        width: 2.5rem;
        height: 2.5rem;
        position: relative;
        order:3;
        right: 5rem;
        cursor: pointer;
        transition: .3s all ease-in-out;
    }
    .burger-menu div{
        height: 2px;
        width: 25px;
        background: white;
        border-radius: 3px;
        position: absolute;
        left: 50%;
        margin-left: calc(-25px / 2);
        margin-top: -1px;
        transition: .3s all ease-in-out;
    }
    .barre1{
        top: 30%;
    }
    .barre2{
        top:50%;
    }
    .barre3{
        top: 70%;
    }
    .menu-nav-coucou a{
        text-transform: uppercase;
    }
}






