///// Fonts : )
$font_base: Poppins;


///// Colors ( :

$color-yellow:#f8b600;
$color-txt: #222222;
$color-bg: #f9f9ff;
$color-footer: #04091e;
$color-purp:rgb(255, 255, 255);
$color-purp2:rgb(246, 246, 246);